<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

Ellas son mis hermanas:
    {% for familiar in familiares %}
    <p>{{familiar.id}} : {{ familiar.nombre }}, su apellido es {{familiar.apellido}}, nació el {{familiar.fecha_nacimiento}}, y tiene {{familiar.edad}} años</p>
    {% endfor %}


</body>
</html>